.container {
  width: 1200px;
  margin: 0 auto;
}
body{
  background-color: #f5f5f5;
}
html, body{
  height: 100%;
}
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, p, blockquote, th, td{
  font-family: "microsoft yahei","宋体",Tahoma,Verdana,Arial,Helvetica,sans-serif;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  font-size: 0;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pos {
  position: relative;
}

.blo {
  display: block;
}

/* banner */
.banner .swiper-pagination .swiper-pagination-bullet {
  width: 26px;
  height: 5px;
  border-radius: inherit;
}

/* 分页 */
.pager {
  font-size: 14px;
}

.pager .ivu-page-item-active {
  background: #FA5552;
}

.pager .ivu-page-item:hover {
  background: #FA5552;
}

.pager .ivu-page-item-active a,
.pager .ivu-page-item-active:hover a {
  background: #FA5552;
  color: #fff;
}

.pager .ivu-page-item-active {
  border-color: #FA5552;
}

.pager .ivu-page-item:hover {
  border-color: #FA5552;
  color: #fff;
}

.pager .ivu-page-item:hover a {
  color: #fff;
}

.pager .ivu-page-next:hover,
.pager .ivu-page-prev:hover {
  border-color: #FA5552;
}

.pager .ivu-page-next:hover a,
.pager .ivu-page-prev:hover a {
  color: #666;
}

.pager .ivu-page-disabled:hover {
  border-color: #dcdee2
}

.pager .ivu-page-options-elevator input:hover {
  border-color: #FA5552;
}

.six .ivu-progress-bg {
  background-color: #FF3F44;
}

.six .ivu-progress-success-bg {
  background-color: #FF7B70;

}
/* 智享列表进度条 */
.intel  li.bg .ivu-progress-wrong .ivu-progress-bg{
    background-color: #999;
}
.zxList li.bg .six .ivu-progress-bg{
  background-color: #999;
}
#udesk_btn a{
  width: 40px !important;
  height: 40px !important;
  visibility: hidden;
}
.ivu-page-options-elevator input:focus{
  border-color: #FA5552;
}
.ivu-progress-text-inner{
  color:#999;
}
.ivu-progress-success .ivu-progress-bg{

    background-color:#999;
}

.investContent .ivu-icon-ios-checkmark-circle:before{
  content:"100%"
}


.a_page_2 .ivu-slider-wrap{
  /* margin:.1rem 0; */
}






.video-js.vjs-ended .vjs-big-play-button, .video-js.vjs-paused .vjs-big-play-button, .vjs-paused.vjs-has-started.vjs-custom-skin > .video-js .vjs-big-play-button{
  width: 2.17rem !important;
  height: 2.17rem !important;
  background: url('../images/play.png') center center no-repeat;
  background-size:100% 100%;
  font-size:inherit;
  border:inherit;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%)
}
.video-js:hover .vjs-big-play-button, .video-js .vjs-big-play-button:focus{
  border-color:transparent !important;
  background-color:transparent !important;
  transition: inherit !important;
  border: transparent !important;
}
.vjs-icon-play:before, .video-js .vjs-big-play-button .vjs-icon-placeholder:before, .video-js .vjs-play-control .vjs-icon-placeholder:before{
  content: '' !important;
}
.ivu-slider-wrap{
  margin: 0 !important;
}

.video-js{
  background-color: transparent !important;
  margin-top:-.25rem;
}
@media screen and (max-width: 1000px) {
.video-js.vjs-ended .vjs-big-play-button, .video-js.vjs-paused .vjs-big-play-button, .vjs-paused.vjs-has-started.vjs-custom-skin > .video-js .vjs-big-play-button{
    width: 1.17rem !important;
    height: 1.17rem !important;
}
}
.ivu-slider-button-wrap .ivu-tooltip {
  display: none;
}

.ivu-slider-bar,.ivu-slider-wrap {
  background-color:transparent;
}


.ivu-slider-wrap{
  width: 90% !important;
}


/*card match menu*/

/*绿色*/
.cmM .ivu-slider-bar,
.shM .ivu-slider-bar,
.subM .ivu-slider-bar,
.tioM .ivu-slider-bar,
.ttcM .ivu-slider-bar,
.comesM .ivu-slider-bar{
  height: 0.24rem;
  background:url('../images/commonImg/soundTop.png');
  background-size: cover;
  margin-top: 1px;
}

.cmM .ivu-slider-button-wrap::before{
  content: "";
  width: 0.48rem;
  height: 0.42rem;
  position: absolute;
  background: url('../images/commonImg/sliderbg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 99;
  top: -0.1rem;
  left: -0.2rem;
}

.shM .ivu-slider-button-wrap::before{
  content: "";
  width: 0.43rem;
  height: 0.52rem;
  position: absolute;
  background: url('../images/commonImg/sliderbg2.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 99;
  top: -0.1rem;
  left: -0.1rem;
}
/*star Trip */
/*黄色*/
.stM .ivu-slider-bar,
.soyTM .ivu-slider-bar{
  height: 0.27rem;
  background:url('../images/commonImg/soundTop2.png');
  background-size: cover;
}
.stM .ivu-slider-button-wrap::before{
  content: "";
  width: 0.46rem;
  height: 0.52rem;
  position: absolute;
  background: url('../images/commonImg/sliderbg3.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 99;
  top: -0.1rem;
  left: -0.1rem;
}
.subM .ivu-slider-button-wrap::before{
  content: "";
  width: 0.61rem;
  height: 0.53rem;
  position: absolute;
  background: url('../images/commonImg/sliderbg4.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 99;
  top: -0.1rem;
  left: -0.1rem;
}

.tioM .ivu-slider-button-wrap::before{
  content: "";
  width: 0.47rem;
  height: 0.61rem;
  position: absolute;
  background: url('../images/commonImg/sliderbg5.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 99;
  top: -0.2rem;
  left: -0.1rem;
}

.ttcM .ivu-slider-button-wrap::before{
  content: "";
  width: 0.47rem;
  height: 0.61rem;
  position: absolute;
  background: url('../images/commonImg/sliderbg6.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 99;
  top: -0.2rem;
  left: -0.1rem;
}
.soyTM .ivu-slider-button-wrap::before{
  content: "";
  width: 0.57rem;
  height: 0.50rem;
  position: absolute;
  background: url('../images/commonImg/sliderbg7.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 99;
  top: -0.1rem;
  left: -0.1rem;
}
.comesM .ivu-slider-button-wrap::before{
  content: "";
  width: 0.51rem;
  height: 0.42rem;
  position: absolute;
  background: url('../images/commonImg/sliderbg8.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 99;
  top: -0.1rem;
  left: -0.1rem;
}

/* pdf menu */
.pdfMenu .ivu-slider-wrap {
  width:100% !important;
  height:100%;
}
.pdfMenu .ivu-slider-wrap .ivu-slider-bar {
  height:100%;
  background:url('../images/commonImg/pdf-page/soundTop9.png');
  background-size: cover;
  border-radius: 0;
}
.pdfMenu .ivu-slider-button-wrap {
  top:0;
  height:100%;
  transform: translateX(-50%);
}
/* .ivu-slider-button-wrap::before {
  content: "";
  width: 0.48rem;
  height: 0.42rem;
  position: absolute;
  background: url(../images/levelTwoCommonImg/silderbg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 99;
  top: -0.1rem;
  left: -0.2rem;
} */
/* .ivu-slider-bar {
  background: #ff7444 !important;
}
.ivu-slider-wrap {
  background: #ff7444 !important;
} */


@font-face{
     font-family: 'nunito';
     src: url('./font/nunito-bold.ttf') format('truetype');
}


  /*通过屏幕宽高比 进行页面适配 ~ 强制编译 */
  /* @media only screen and (min-aspect-ratio: ~'1920/1080'){
    html,body{
      overflow: auto !important;
    }
    .main,.level2-main,.div-bg{
      overflow-y: auto !important ;
    }
  } */