@charset "utf-8";
.pos-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.sortable-chosen.sortable-ghost {
  display: none !important;
}
.isSHow {
  display: block;
  left: 50% !important;
}
.level2-main {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.level2-main .animate-bg {
  width: 4.6875rem;
  height: 4.6875rem;
  position: absolute;
  top: 2.46875rem;
  left: -0.46875rem;
  z-index: 3;
  background: url("../images/commonImg/microphone.png") no-repeat;
  background-size: auto 4.6875rem;
  pointer-events: none;
  transform-origin: 20% 50%;
}
.level2-main .animate-step {
  animation: step 3s steps(59) infinite;
  -webkit-animation: step 3s steps(59) infinite;
  transform-origin: 20% 50%;
}
@keyframes step {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -276.5625rem 0;
  }
}
@-webkit-keyframes step {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -276.5625rem 0;
  }
}
.div-bg {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../images/commonImg/page9bg.png");
  background-size: 15rem 10rem;
  background-repeat: no-repeat;
}
.div-bg > img {
  display: block;
  width: 100%;
}
.div-bg .content {
  position: absolute;
  width: 6.5625rem;
  height: 4.296875rem;
  left: 2.578125rem;
  top: 10%;
  padding-top: 0.546875rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.div-bg .content .itemTitle {
  position: absolute;
  top: 0;
}
.div-bg .content .pause {
  font-size: 0.15625rem;
  color: #fff;
  position: absolute;
  right: 0.390625rem;
  top: 0.1171875rem;
  width: 0.484375rem;
  height: 0.5078125rem;
}
.div-bg .content .pause img {
  display: block;
  width: 100%;
}
.div-bg .page2-content {
  position: absolute;
  width: 13.21875rem;
  height: 5.734375rem;
  top: 1.5625rem;
  left: 50%;
  transform: translateX(-50%);
  background: url("../images/commonImg/photoKuang3.png") no-repeat;
  background-size: cover;
}
.div-bg .content-right {
  position: absolute;
  top: 0.625rem;
  right: 1.4375rem;
}
.div-bg .content-right span {
  width: 1.703125rem;
  height: 1.421875rem;
  display: block;
}
.div-bg .content-video {
  width: 100%;
  position: absolute;
  width: 10.15625rem;
  top: 4%;
  left: 1.953125rem;
  background-color: #000;
}
.div-bg .content-video .video-player {
  background-color: #000;
}
.div-bg .content-video .close {
  position: absolute;
  right: 0.15625rem;
  top: 0.0390625rem;
  font-size: 0.46875rem;
  cursor: pointer;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.ivu-slider-wrap {
  margin: 0.1rem 0 0 !important;
}
.audio {
  width: 100%;
  height: 0.31rem;
  margin-bottom: 0.1rem;
}
