@charset "utf-8";
.pos-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.isShowVideo {
  display: block;
}
.isShowVideo1 {
  display: none;
}
.video-player {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;
}
iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.main {
  width: 100%;
  height: 100%;
}
.canvasMain {
  position: relative;
  width: 100%;
  height: 100%;
}
.canvasMain .con-pic {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0.078125rem;
  left: 0.078125rem;
  z-index: 3;
}
.canvasMain::after {
  position: relative;
}
.page3-content {
  position: absolute;
  width: 1.1640625rem;
  height: 5.25rem;
  top: 1.6015625rem;
  left: 12.28125rem;
  z-index: 5;
  animation: rollIn 1s 1s both;
}
.page3-content .content {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.page3-content .content .each-pic {
  width: 1.1640625rem;
  height: 0.7421875rem;
  cursor: pointer;
}
.page3-content .content .each-pic img {
  display: block;
}
.bg-div {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../images/commonImg/page3bg.png");
  background-size: 15rem 10rem;
  background-repeat: no-repeat;
}
.bg-div .canvas {
  animation: zoomIn 1s 1s both;
  position: absolute;
  width: 10.328125rem;
  height: 5.796875rem;
  top: 1.6015625rem;
  left: 2.03125rem;
  background-image: url("../images/commonImg/photoKuang6.png");
  background-size: 100% 100%;
  display: flex;
  justify-items: center;
  z-index: 3;
  padding: 0.5rem;
  box-sizing: border-box;
}
.bg-div .canvas img {
  position: absolute;
  z-index: 3;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 10.328125rem;
  height: 5.796875rem;
}
.bg-div .canvas .canvasMain {
  width: 8.8046875rem;
  height: 5.078125rem;
}
.bg-div .animate-bg {
  width: 4.6875rem;
  height: 4.6875rem;
  position: absolute;
  bottom: 0.78125rem;
  left: 0;
  background: url("../images/commonImg/octopus.png") no-repeat;
  background-size: auto 4.6875rem;
  pointer-events: none;
  z-index: 5;
}
.bg-div .animate-step {
  animation: step 3s steps(44) 1;
  -webkit-animation: step 3s steps(44) 1;
}
@keyframes step {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -206.25rem 0;
  }
}
@-webkit-keyframes step {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -206.25rem 0;
  }
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.ivu-slider-wrap {
  margin: 0.1rem 0 0 !important;
}
.audio {
  width: 100%;
  height: 0.31rem;
  margin-bottom: 0.1rem;
}
