@charset "utf-8";
.pos-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.sortable-chosen.sortable-ghost {
  display: none !important;
}
.isSHow {
  display: block;
  left: 50% !important;
}
.level2-main {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.level2-main .div-bg {
  width: 100%;
  height: 100%;
  background: url("../images/commonImg/page5bg.png");
  background-size: 15rem 10rem;
  background-repeat: no-repeat;
  position: relative;
}
.level2-main .div-bg > img {
  display: block;
  width: 100%;
}
.level2-main .div-bg .animate-bg {
  width: 4.6875rem;
  height: 4.6875rem;
  position: absolute;
  top: 3.9453125rem;
  left: -1.171875rem;
  z-index: 3;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: auto 4.6875rem;
  pointer-events: none;
}
.level2-main .div-bg .animate-step {
  animation: step 3s steps(50) 1;
  -webkit-animation: step 3s steps(50) 1;
}
.level2-main .div-bg .animate-award {
  animation: award 3s steps(49, end) both 1;
  -webkit-animation: award 3s steps(49, end) both 1;
}
.page2-content {
  position: absolute;
  width: 11.53125rem;
  height: 6.3828125rem;
  top: 1.5390625rem;
  left: 2.1953125rem;
  background: url("../images/commonImg/photoKuang5.png") no-repeat center center;
  background-size: 100% 100%;
}
.page2-content .content-main-left {
  position: absolute;
  top: 0.9375rem;
  left: 0.3125rem;
  padding-left: 0.15625rem;
  z-index: 10;
  width: 3.5546875rem;
  height: 4.9453125rem;
}
.page2-content .content-main-left .sentenceBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 4.1640625rem;
  padding-top: 0.15625rem;
  padding-bottom: 0.078125rem;
}
.page2-content .content-main-left .page5Play {
  position: absolute;
  bottom: 0.15625rem;
  left: 0.15625rem;
  width: 0.59375rem;
  height: 0.625rem;
  cursor: pointer;
  background: url("../images/commonImg/page5Play.png") no-repeat center center;
  background-size: 100%;
}
.page2-content .content {
  position: absolute;
  width: 7.203125rem;
  height: 4.9375rem;
  top: 0.9375rem;
  left: 4.0625rem;
}
.page2-content .content .content-main {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: column;
}
.page2-content .content .content-main li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.38rem;
  height: 2.35rem;
}
.page2-content .content .content-main li img {
  width: 100%;
  height: 100%;
  display: block;
}
.page2-content .content .content-main-top,
.page2-content .content .content-main-bottom-base {
  position: absolute;
  padding: 0.234375rem 0;
  left: 0rem;
  z-index: 10;
  width: 4.109375rem;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
}
.page2-content .content .content-main-top .curBaseTr img,
.page2-content .content .content-main-bottom-base .curBaseTr img {
  position: absolute;
  width: 1.0546875rem;
  top: 0rem;
  right: 0.0625rem;
  display: inline-block;
}
.page2-content .content .content-main-top li,
.page2-content .content .content-main-bottom-base li {
  float: left;
  position: relative;
  width: 1.65625rem;
  height: 1.0546875rem;
}
.page2-content .content .content-main-top li img,
.page2-content .content .content-main-bottom-base li img {
  width: 100%;
  display: block;
}
.page2-content .content .content-main-top li:nth-child(odd),
.page2-content .content .content-main-bottom-base li:nth-child(odd) {
  margin-left: 0.15625rem;
}
.page2-content .content .content-main-top li:nth-child(even),
.page2-content .content .content-main-bottom-base li:nth-child(even) {
  margin-left: 0.234375rem;
}
.page2-content .content .content-main-bottom {
  position: absolute;
  padding: 0.234375rem 0 0.234375rem 0.3125rem;
  width: 2.875rem;
  height: 100%;
  right: 0.078125rem;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.page2-content .content .content-main-bottom > span {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}
.page2-content .content .content-main-bottom li {
  width: 1.09375rem;
  height: 1.09375rem;
  margin-right: 0.1rem;
  cursor: move;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.ivu-slider-wrap {
  margin: 0.1rem 0 0 !important;
}
.audio {
  width: 100%;
  height: 0.31rem;
  margin-bottom: 0.1rem;
}
@keyframes step {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -234.375rem 0;
  }
}
@-webkit-keyframes step {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -234.375rem 0;
  }
}
@keyframes award {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -229.6875rem 0;
  }
}
@-webkit-keyframes award {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -229.6875rem 0;
  }
}
