@charset "utf-8";
.pos-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.isSHow {
  display: block;
  left: 50% !important;
}
.div-bg {
  width: 100%;
  height: 100%;
  background: url("../images/commonImg/page7bg.png");
  background-size: 15rem 10rem;
  background-repeat: no-repeat;
  position: relative;
}
.div-bg .animate-bg {
  width: 3.90625rem;
  height: 3.90625rem;
  position: absolute;
  top: 4.140625rem;
  left: 0.46875rem;
  z-index: 5;
  background: url("../images/commonImg/anibg7-ani.png") no-repeat;
  background-size: auto 3.90625rem;
  pointer-events: none;
}
.div-bg .animate-step {
  animation: step 3s steps(56, end) 1;
  -webkit-animation: step 3s steps(56, end) 1;
}
.div-bg .animate-award {
  position: absolute;
  top: 3.90625rem;
  left: 0.46875rem;
  z-index: 5;
  animation: award 3s steps(50, end) 1;
  -webkit-animation: award 3s steps(50, end) 1;
}
@keyframes step {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -218.75rem 0;
  }
}
@-webkit-keyframes step {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -218.75rem 0;
  }
}
@keyframes award {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -195.3125rem 0;
  }
}
@-webkit-keyframes award {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -195.3125rem 0;
  }
}
.page7-content {
  margin: 0 auto;
  position: absolute;
  width: 15rem;
  height: 8.4375rem;
  top: 0;
  left: 0;
}
.page7-content .content {
  width: 9.7578125rem;
  height: 5.765625rem;
  position: relative;
  margin: 1.5625rem auto 0;
  background-image: url("../images/commonImg/photoKuang7.png");
  background-size: 100% 100%;
  padding: 1.015625rem 0.546875rem;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}
.page7-content .content .content-left,
.page7-content .content .content-right {
  width: 2.578125rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.page7-content .content .content-left li,
.page7-content .content .content-right li {
  list-style: none;
}
.page7-content .content .content-left .item,
.page7-content .content .content-right .item {
  width: 1.59375rem;
  height: 1.59375rem;
  margin-bottom: 0.3125rem;
}
.page7-content .content .content-left .item img,
.page7-content .content .content-right .item img {
  width: 100%;
  display: block;
}
.page7-content .content .content-center {
  padding-left: 0.0234375rem;
  padding-top: 0.0234375rem;
  width: 3.515625rem;
  height: 3.515625rem;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-around;
}
.page7-content .content .content-center .curBaseTr {
  float: left;
  position: relative;
  width: 1.7421875rem;
  height: 1.7421875rem;
  list-style: none;
  margin-left: 0rem;
}
.page7-content .content .content-center .curBaseTr img {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.page7-content .content .content-center .curBaseTr span {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.page7-content .content .content-center li {
  float: left;
  position: relative;
  width: 1.7421875rem;
  height: 1.7421875rem;
}
.page7-content .content .content-center li img {
  width: 100%;
  display: block;
}
.page7-content .contentUnscramble {
  background-image: url("../images/commonImg/photoKuang-unscramble.png");
  width: 9.7578125rem;
  height: 5.765625rem;
  margin: 1.5625rem auto 0;
  padding: 0rem;
}
.page7-content .contentUnscramble .contentUnscramble-left {
  width: 2.328125rem;
  height: 2.5234375rem;
  position: absolute;
  top: 1.1015625rem;
  left: 1.1953125rem;
  z-index: auto;
}
.page7-content .contentUnscramble .contentUnscramble-right {
  width: 4.375rem;
  height: 1.40625rem;
  position: absolute;
  top: 1.421875rem;
  left: 4.0546875rem;
  z-index: auto;
}
.page7-content .contentUnscramble .contentUnscramble-right > span {
  width: 4.375rem;
  height: 1.40625rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.page7-content .contentUnscramble .contentUnscramble-right li {
  width: 1.71875rem;
  height: 0.328125rem;
  list-style-type: none;
  cursor: move;
}
.page7-content .contentUnscramble .contentUnscramble-right li img {
  width: 100%;
}
.page7-content .contentUnscramble .contentUnscramble-center {
  width: 7.046875rem;
  height: 0.328125rem;
  position: absolute;
  top: 4.140625rem;
  left: 1.1953125rem;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
}
.page7-content .contentUnscramble .contentUnscramble-center .curBaseTr {
  width: 1.71875rem;
  height: 0.390625rem;
  padding-bottom: 0.0625rem;
  background-image: url('../images/commonImg/unscrambleSentenceBox.png');
  background-repeat: no-repeat;
  background-size: cover;
  list-style: none;
  position: relative;
}
.page7-content .contentUnscramble .contentUnscramble-center .curBaseTr img {
  width: 100%;
  display: block;
}
.page7-content .contentUnscramble .contentUnscramble-center .curBaseTr span {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.page7-content .contentUnscramble .contentUnscramble-center li {
  width: 1.71875rem;
  height: 0.328125rem;
}
.page7-content .contentUnscramble .contentUnscramble-center li img {
  width: 100%;
  display: block;
}
.page7-content .contentUnscramble .juhao {
  width: 0.328125rem;
  height: 0.1484375rem;
  position: absolute;
  top: 4.375rem;
  left: 8.2890625rem;
  z-index: auto;
  background-image: url('../images/commonImg/unscrambleSentenceJuhao.png');
  background-repeat: no-repeat;
  background-size: cover;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.ivu-slider-wrap {
  margin: 0.1rem 0 0 !important;
}
.audio {
  width: 100%;
  height: 0.31rem;
  margin-bottom: 0.1rem;
}
